body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(255, 254, 254);
}




#cabezera {
    background-color: #595959;
    margin: 0%;
    padding: 0%;
    height: 100px;
    position: sticky;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}



#menuDeNavegacion li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
}

#menuDeNavegacion a {
    color: #FFAA1C;
    text-decoration: none;
    text-shadow: 1px 2px 2px black, 0 0 25px rgb(255, 213, 2), 0 0 5px rgb(0, 0, 0);
}