body {
    margin: 0%;
    padding: 0%;
    background-color: black;
}




#cabezera {
    background-color: #595959;
    margin: 0%;
    padding: 0%;
    height: 100px;
    position: sticky;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}



#menuDeNavegacion li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
}

#menuDeNavegacion a {
    color: #FFAA1C;
    text-decoration: none;
}


#banner1 {
    background-color: #27241F;
    text-align: center;
}

#banner {
    position: static;
    margin-top: 0%;


}

.texto_prime {
    background-color: rgb(192, 19, 19);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}

#solotextoprime {
    margin-top: 2%;
    padding: 10px;
    padding-bottom: 15px;
}