#cabezera {
    background-color: rgb(74, 74, 74);
    margin: 0%;
    padding: 0%;
    height: 100px;
    position: sticky;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}



#menuDeNavegacion li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 20px;
}

#menuDeNavegacion a {
    color: #FFAA1C;;
    text-decoration: none;
    text-shadow: 1px 2px 2px black, 0 0 25px rgb(255, 213, 2), 0 0 5px rgb(0, 0, 0);
}

#banner1 {
    display: inline;
    width: 10000px;

}

.pregunta {
    display: block;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gray;

    #palabra{
        color: orange;
    }


}

#imageneslink {
    background-color: gray;
    display: flex;
    justify-content: space-evenly
}


#bici1 {
    width: 300px;
    height: 600px;
    margin-right: 10px;
    filter: brightness(50%);




}

#zapatillas1 {
    width: 300px;
    height: 600px;
    margin-right: 10px;
    filter: brightness(50%);
    
}

#accesorios1 {
    width: 300px;
    height: 600px;
    margin-right: 10px;
  filter: brightness(50%);
    

}